body {
  margin: 0;
  padding: 0;
  background-color: gainsboro;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  vertical-align: center;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

li {
  padding: 10px;
}

.myborder {
  border: solid 2px red;
}

.box {
  display: flex;
  justify-content: space-around;
  min-height: 40vh;
  min-width: 100%;
}

figure img {
  width: 300px;
  height: 300px;
}
